/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#app > * {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto; }

body {
  background: lightgrey; }

#app {
  font-family: 'Open Sans', sans-serif; }
  #app > * {
    padding-left: 1em;
    padding-right: 1em; }
  #app > #main {
    background: white;
    padding-top: 1em;
    padding-bottom: 1em; }

header {
  margin-top: 1em;
  background-color: #004166;
  padding-top: 1em;
  border-radius: 0.25em;
  color: white;
  position: relative; }
  @media only screen and (max-width: 670px) {
    header {
      text-align: center; } }
  header h1 {
    padding-top: 0;
    display: inline-block;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2.75em;
    font-weight: normal; }
  header img {
    display: inline;
    position: absolute;
    top: 18px;
    right: 20px; }
    @media only screen and (max-width: 670px) {
      header img {
        display: block;
        margin: auto;
        position: static; } }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

p {
  padding-bottom: 1em;
  line-height: 1.5em; }

form .row {
  display: flex;
  padding-bottom: 0.3em; }

label {
  min-width: 6em;
  display: block; }

.modes {
  margin-top: 1em; }
  .modes li {
    padding: 2em 0;
    border-top: 4px solid darkgrey; }
