/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

#app > #main, header #header-content {
  max-width: 55em;
  margin-left: auto;
  margin-right: auto; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  background: #f2f2f2;
  font-size: 16px; }

#app {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }
  #app > #main {
    background: white;
    padding: 1.5em 0 0;
    margin-bottom: 1em;
    border-radius: 0 0 0.5em 0.5em; }
    #app > #main > section {
      padding: 0 2.5em 1em; }
    @media screen and (max-width: 835px) {
      #app > #main {
        width: 100vw;
        border-radius: 0;
        margin: 0; } }

header {
  width: 100%;
  background-color: #004166;
  color: white; }
  header #header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2em 1em; }
  header h1 {
    font-size: 3em;
    padding: 0.25em 0 0; }
  header p {
    font-style: italic;
    padding: 0; }
  header img {
    padding-bottom: 0.4em; }
  @media screen and (max-width: 760px) {
    header #header-content {
      justify-content: center;
      text-align: center; }
    header img {
      margin-top: 0.5em; }
    header div {
      width: 100%; } }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

h2 {
  font-size: 1.6em;
  font-weight: 300; }

p {
  padding-bottom: 1em;
  line-height: 26px; }

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }
  form .left, form .right {
    min-width: 0; }
  form .row {
    display: flex;
    padding-bottom: 0.4em;
    align-items: center; }
  form input[type=text] {
    line-height: 2em;
    margin-right: 3em;
    width: 30em;
    min-width: 0; }
  form input[type=number] {
    width: 5em;
    margin-left: 1em; }
  form > button {
    border: 0;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    line-height: 1.25em;
    width: 10em;
    font-size: 1.1em;
    border-radius: 0.2em;
    font-weight: 300;
    margin: 1em auto 0;
    cursor: default;
    background-color: lightgrey;
    color: black; }
    form > button.enabled {
      cursor: pointer;
      background-color: #479bb4;
      color: white; }
      form > button.enabled:hover {
        background-color: #004166;
        transition: 0.2s; }
  form label {
    min-width: 5em;
    display: block; }
  @media screen and (max-width: 760px) {
    form input[type=text] {
      margin-right: 0; }
    form .left, form .right {
      width: 100%; } }

.modes {
  margin-top: 1em;
  padding: 0;
  background-color: #0dbc37; }
  .modes > li {
    padding: 0 1.25em; }
    .modes > li > section {
      background-color: white;
      padding: 2em 1em;
      border-top: 2px solid lightgrey; }
  .modes strong {
    font-weight: bold;
    color: red; }
  .modes .mode1 {
    background-color: rgba(0, 0, 0, 0); }
  .modes .mode2 {
    background-color: rgba(0, 0, 0, 0.15); }
  .modes .mode3 {
    background-color: rgba(0, 0, 0, 0.3); }
  .modes .mode4 {
    background-color: rgba(0, 0, 0, 0.45); }
  .modes .mode5 {
    background-color: rgba(0, 0, 0, 0.6); }
  .modes .mode6 {
    background-color: rgba(0, 0, 0, 0.75); }
  .modes .mode7 {
    background-color: rgba(0, 0, 0, 0.9); }

ul.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 24.5em));
  grid-auto-rows: auto;
  align-items: center;
  gap: 1em; }
  ul.grid > li {
    min-height: 150px;
    padding: 0;
    background-color: #479bb4; }
    ul.grid > li:hover {
      background-color: #004166;
      transition: 0.3s; }
    ul.grid > li > a {
      text-decoration: none;
      color: white;
      display: block;
      padding: 0.5em 1em; }
      ul.grid > li > a h3 {
        font-size: 1.4em;
        padding: 0.5em 0;
        line-height: 32px; }

.open[data-v-651ed140] {
  float: right;
  padding-right: 1em;
  line-height: 1.5em;
  color: blue;
  text-decoration: underline; }

.open[data-v-651ed140]:hover {
  cursor: pointer; }

.search-results {
  z-index: 100;
  background-color: white;
  border: 0.5px solid lightgray;
  flex-wrap: wrap;
  margin-left: 5em;
  position: absolute;
  margin-top: -0.4em;
  max-width: 44em; }

.search-results ul {
  width: 100%; }

.search-results li {
  padding: 8px;
  width: 100%; }

.search-results button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 8px;
  background: none;
  text-decoration: underline;
  color: darkblue; }

.search-results .selected {
  background-color: #ededed; }

/*# sourceMappingURL=Search.vue.map */
.timeline[data-v-8044c168] {
  height: 4em;
  margin: 17px 20px;
  padding-top: 1em; }

.timeline ol[data-v-8044c168] {
  display: flex;
  list-style: none;
  padding: 0; }

.timeline ol > li[data-v-8044c168] {
  border-bottom: 6px solid black;
  position: relative; }

.timeline ol > li.unknown[data-v-8044c168] {
  border-bottom-style: dotted; }

.timeline ol > li.end[data-v-8044c168] {
  border-bottom-style: none; }

.timeline ol > li p[data-v-8044c168] {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center; }

.timeline ol > li p.value[data-v-8044c168] {
  top: 0.5em;
  font-size: 1.5em; }

.timeline ol > li p.title[data-v-8044c168] {
  top: 2.5em; }

.timeline ol > li .marker[data-v-8044c168] {
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: block;
  border: 6px solid black;
  background: white;
  position: absolute;
  top: -10px;
  left: -13px; }

/*# sourceMappingURL=Timeline.vue.map */
