$white: white;
$background: lightgrey;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

%main-flow {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: $background;
}

#app {
  font-family: 'Open Sans', sans-serif;

  > * {
    @extend %main-flow;
    padding-left: 1em;
    padding-right: 1em;
  }

  > #main {
    background: $white;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

p {
  padding-bottom: 1em;
}

form {
  .row {
    display: flex;
    padding-bottom: 0.3em;
  }
}
label {
  min-width: 6em;
  display: block;
}