$white: white;
$background: #f2f2f2;
$lcc-darkblue: #004166;
$lcc-lightblue: #479bb4;
$green: #0dbc37;

$breakpoints: 835px, 760px;
@mixin mq($idx) {
  @media screen and (max-width: nth($breakpoints, $idx)) {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

%main-flow {
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: $background;
  font-size: 16px;
}

#app {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  > #main {
    @extend %main-flow;
    background: $white;
    padding: 1.5em 0 0;
    margin-bottom: 1em;
    border-radius: 0 0 0.5em 0.5em;
    > section {
      padding: 0 2.5em 1em;
    }
    @include mq(1) {
      width: 100vw;
      border-radius: 0;
      margin: 0;
    }
  }
}

header {
  width: 100%;
  background-color: $lcc-darkblue;
  color: white;

  #header-content {
    @extend %main-flow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2em 1em;
  }

  h1 {
    font-size: 3em;
    padding: 0.25em 0 0;
  }

  p {
    font-style: italic;
    padding: 0;
  }

  img {
    padding-bottom: 0.4em;
  }

  @include mq(2) {
    #header-content{
      justify-content: center;
      text-align: center;
    }
    img {
      margin-top: 0.5em;
    }
    div {
      width: 100%;
    }
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h2 {
  font-size: 1.6em;
  font-weight: 300;
}

p {
  padding-bottom: 1em;
  line-height: 26px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  .left, .right {
    min-width: 0;
  }
  .row {
    display: flex;
    padding-bottom: 0.4em;
    align-items: center;
  }
  input {
    &[type=text] {
      line-height: 2em;
      margin-right: 3em;
      width: 30em;
      min-width: 0;
    }
    &[type=number] {
      width: 5em;
      margin-left: 1em;
    }
  }
  > button {
    border: 0;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    line-height: 1.25em;
    width: 10em;
    font-size: 1.1em;
    border-radius: 0.2em;
    font-weight: 300;
    margin: 1em auto 0;
    cursor: default;
    background-color: lightgrey;
    color: black;

    &.enabled {
      cursor: pointer;
      background-color: $lcc-lightblue;
      color: white;

      &:hover {
        background-color: $lcc-darkblue;
        transition: 0.2s;
      }
    }
  }
  label {
    min-width: 5em;
    display: block;
  }

  @include mq(2) {
    input[type=text] {
      margin-right: 0;
    }
    .left, .right {
      width: 100%;
    }
  }
}

.modes {
  margin-top: 1em;
  padding: 0;
  background-color: $green;

  > li {
    padding: 0 1.25em;

    > section {
      background-color: white;
      padding: 2em 1em;
      border-top: 2px solid lightgrey;
    }
  }
  strong {
    font-weight: bold;
    color: red;
  }
  .mode1 { background-color: rgba(0,0,0,0); }
  .mode2 { background-color: rgba(0,0,0,0.15); }
  .mode3 { background-color: rgba(0,0,0,0.3); }
  .mode4 { background-color: rgba(0,0,0,0.45); }
  .mode5 { background-color: rgba(0,0,0,0.6); }
  .mode6 { background-color: rgba(0,0,0,0.75); }
  .mode7 { background-color: rgba(0,0,0,0.9); }
}

ul.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 24.5em));
  grid-auto-rows: auto;
  align-items: center;
  gap: 1em;

  > li {
    min-height: 150px;
    padding: 0;
    background-color: $lcc-lightblue;

    &:hover {
      background-color: $lcc-darkblue;
      transition: 0.3s;
    }

    > a {
      text-decoration: none;
      color: white;
      display: block;
      padding: 0.5em 1em;

      h3 {
        font-size: 1.4em;
        padding: 0.5em 0;
        line-height: 32px;
      }
    }
  }
}